* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #312e2b;
  font-family: VisbyCF,sans-serif;
}

#main {
  margin: 0 auto;
  width: 700px;
  height: 500px;
}

@media (max-width: 700px) {
  #main {
    margin: 15vh auto 0 auto;
    width: 300px;
    heigth: 500px;
  }
}

#gameMain {
  text-align: center;
  h1 {
    color: white;
  }
  h2 {
    margin: auto;
    font-size: 2em;
    position: absolute;
    width: 400px;
    top: 400px;
    left: 50%;
    margin-left: -200px;
    color: hsla(0, 0%, 33%, 0.96);
  }
}

@media (max-width: 700PX) {
  #gameMain {
    h2 {
      font-size: 1.2em;
      width: 275px;
      margin-left: -137.5px;
      top: 345px;

    }
  }
}

#grid {
  display: grid;
  margin: 0 auto;
  background-color: white;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  border: 1px solid #0fbbd6e6;
  border-radius: 5px;
  #center {
    background-color: white;
    i {
      display: none;
      left: 41%;
      position: fixed;
      color: hsla(360, 0%, 50%, 0.88);
      margin-top: 5px;
      font-size: 10em;
      text-shadow: 5px 5px 10px hsla(360, 0%, 0%, 0.61);
    }
    i:hover {
      text-shadow: 5px 5px 10px hsla(360, 0%, 0%, 0.61), -5px -5px 10px hsla(360, 0%, 0%, 0.61);
    }
    i:active {
      color: #218838;
    }
  }
  div {
    background-color: #0fbbd6e6;
  }

  &:hover {
    cursor: pointer;
  }
}



@media (max-width: 700px) {
  #grid {
    width: 295px;
    height: 295px;
    #center {
      i {
        font-size: 5em;
      }
      i:hover {
        text-shadow: 3px 3px 10px hsla(360, 0%, 0%, 0.61), -3px -3px 10px hsla(360, 0%, 0%, 0.61);
      }
    }
  }
}

#controllers {
  width: 400px;
  margin: 10px auto 0 auto;
  button {
    width: 145px;
    font-size: 3em;
  }
  #visualBtn {
    margin-right: 100px;
  }
}

@media (max-width: 700px) {
  #controllers {
    width: 300px;
    margin-top: 50px;
    button {
      width: 125px;
      font-size: 3em;
    }
    #visualBtn {
      margin-right: 50px;
    }
  }
}

@keyframes nback {
  50% {background-color: #800fd6}
  100% {background-color: #0fbbd6e6}
}

.active {
  background-color: #9c9c9c;
}
